@media screen {
  #splash-name {
    font-size: 130px;
    color: white;
    text-shadow: 3px 3px black;
    padding-top: 200px;
  }
  #mywork {
    font-size: 100px;
  }
  #about-me-title {
    font-size: 100px;
  }
  #contact-me-title {
    font-size: 100px;
  }
  #splash-job {
    color: whitesmoke;
    text-shadow: 3px 3px rgb(0, 0, 0);
  }
  #splash-job {
    font-size: 40px;
    color: whitesmoke;
    text-shadow: 3px 3px rgb(0, 0, 0);
  }
}
@media screen and (max-width: 600px) {
  #splash-name {
    position: relative;
    font-size: 50px;
    text-shadow: 3px 3px rgb(0, 0, 0);
  }
  #about-me-title {
    font-size: 40px;
  }
  #contact-me-title {
    font-size: 32px;
  }
  #splash-job {
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 3px 3px rgb(0, 0, 0);
  }
  #mywork {
    font-size: 50px;
  }
}

.bg-img {
  background-image: url(./Assets/LowResAboutBG.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
}

body {
  font-family: 'Press Start 2P', cursive;
}

#about-me {
  text-shadow: 3px 3px black;
}

.navbar-item:hover {
  background-color: rgb(113, 35, 165);
}

.about-bg-img {
  background-image: url(./Assets/LowResAboutBG.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
}

.project-info {
  font-size: 13px;
}