@media screen {
  #splash-name {
    font-size: 130px;
    color: white;
    text-shadow: 2px 2px 1px 1px rgb(5, 5, 5);
    padding-top: 200px;
  }
  #mywork {
    font-size: 100px;
  }
  #about-me-title {
    font-size: 100px;
  }
  #contact-me-title {
    font-size: 100px;
  }
  #splash-job {
    color: white;
    text-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
  }
}
@media screen and (max-width: 600px) {
  #splash-name {
    position: relative;
    font-size: 70px;
    text-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
  }
  #about-me-title {
    font-size: 60px;
  }
  #contact-me-title {
    font-size: 50px;
  }
}

#splash-job {
  color: white;
  text-shadow: 2px 2px 1px 1px rgb(0, 0, 0);
}

.bg-img {
  background-image: url(./Assets/pixelbg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: whitesmoke;
}

.has-text-shadow {
  text-shadow: 5px 5px 2px 2px rgb(5, 5, 5);
}
